body {
    background: radial-gradient(rgb(53, 50, 50), rgb(2, 2, 2));
    color: white;
}

.step {
    width: 1000px;
    padding: 0;

    // Hide all the slides when on overview
    .impress-on-Overview & {
        opacity: 0;
    }
    // Show the border of all slides
    //outline: 10px solid red;
}

//* {
//    opacity: 1 !important;
//}

a {
    background: none;
    &:hover,
    &:hover,
    &:focus {
        background: none;
    }
}

#title {
    h1 {
        line-height: 1;
        font-size: 7rem;
        text-align: center;
    }
}

.title {
    position: relative;
    margin-bottom: 100px;
}

.title__big {

    font-size: 50rem;
    color: #31afe1;
    position: absolute;
    top: -160px;
    line-height: 1;
    left: 0;
    width: 19rem;
    text-align: center;
    display: none; // Disable this one for now
}
.title__text {
    margin-left: 300px;
    font-size: 5rem;
    margin-top: 110px;
    display: inline-block;
}

.content {
    margin-left: 300px;

    // Animation preset:
    opacity: 0;
    transition: opacity 1s 0.5s;
    .present & {
        opacity: 1;
    }

}

// Text after the BIG letter
.text {
    position: absolute;
    top: 80px;
    left: 300px;
    font-size: 7rem;
}


.scrabble {
    display: flex;
}

.scrabble__before{
    flex: 1 1 50%;
    text-align: right;
}


.scrabble__before, .scrabble__after {
    transition: opacity 1s;
    .past &,
    .future & {
        opacity: 0.1;
    }
}
.scrabble__main {
    flex: 0 0 4rem;
    text-align: center;
    color: #31afe1;
    opacity: 0.3;
}

.scrabble__after {
    flex: 1 1 50%;
    text-align: left;
}


// Specific slides
#Overview {
    display: block;
    font-size: 4rem;
    opacity: 1;
}
.impress-on-Overview {
    .scrabble__main {
        opacity: 1;
    }
}

.impress-on-GanderFabian {
    .scrabble--GanderFabian {
        .scrabble__main {
            transition: all 2s 1s;
            transform: rotateY(150deg);
            opacity: 1;
        }
    }
}

#Referenzen {
    .content {
        margin-top: 200px;
        margin-left: 0;
    }
}
.impress-on-Referenzen {
    .scrabble--Referenzen {
        transition: all 3s 2s;
        transform: translate3d(0px,0px,5000px);

        > span {
            opacity: 1;
        }
    }
}


#Werdegang {
    .content {
        margin: 200px 0 0 100px;
    }
}
.impress-on-Werdegang {
    .scrabble--Werdegang {
        transition: all 2s 1s;
        transform: rotateY(180deg);
        > span {
            opacity: 1;
        }
    }
}
