body {
    background: radial-gradient(rgb(53, 50, 50), rgb(2, 2, 2));
    color: white;
}

.impress-enabled .step {
    width: 1100px;
    padding: 0;

    // Hide all the slides when on overview
    .impress-on-Overview & {
        opacity: 0;
    }

    opacity: 0;
    &.active {
        opacity: 1;
        //background-color: rgba(0,0,0,0.3);
        //box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
    }
    // Show the border of all slides
    //outline: 10px solid red;
}

//* {
//    opacity: 1 !important;
//}

a {
    background: none;
    &:hover,
    &:hover,
    &:focus {
        background: none;
    }
}

#title {
    h1 {
        line-height: 1;
        font-size: 7rem;
        text-align: center;
    }
}

.title {
    position: relative;
    margin-bottom: 50px;
}

.title__big {

    font-size: 50rem;
    color: #31afe1;
    position: absolute;
    top: -160px;
    line-height: 1;
    left: 0;
    width: 19rem;
    text-align: center;
    display: none; // Disable this one for now
}
.title__text {
    font-size: 5rem;
    display: inline-block;
}

.content {
    font-size: 2rem;

    // Animation preset:
    opacity: 0;
    transition: opacity 1s 0.5s;
    .present & {
        opacity: 1;
    }
}

.content__logo {
    max-width: 220px;
    padding: 0px;
    max-height: 90px;
    text-align: center;
}

.content__image {
    max-width: 220px;
}

.nothing-logo {
    color: #ff6600;
}

table {
    margin: 0 auto;
}
td {
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    height: 100px;
}

// Text after the BIG letter
.text {
    position: absolute;
    top: 80px;
    left: 300px;
    font-size: 7rem;
}


.scrabble {
    display: flex;
}

.scrabble__before{
    flex: 1 1 50%;
    text-align: right;
}


.scrabble__before, .scrabble__after {
    transition: opacity 1s;
    .past &,
    .future & {
        opacity: 0.05;
    }
}
.scrabble__main {
    flex: 0 0 4rem;
    text-align: center;
    color: #31afe1;
    opacity: 0.2;
}

.scrabble__after {
    flex: 1 1 50%;
    text-align: left;
}

.buzz-words {
    margin-top: 300px;
    .word {
        opacity: 0;
        padding: 0 20px;

        // Add appearance to all the words
        .present & {
            .loopItems(30);
            opacity: 1;
        }
    }

    .focus {
        color: #31afe1;
    }

}

/* Create a Parametric mixin and add a guard operation */
.loopItems(@index, @i: 0) when(@index >= 0) {
    &:nth-child(@{i}) {
        transition: ~"opacity 1s @{i}s";
    }
    /* Interation call and operation */
    .loopItems(@index - 1, @i + 1);
}


// Specific slides
#Overview {
    display: block;
    font-size: 4rem;
    opacity: 1;

    .scrabble__main {
        transition: all 2s 0s;
    }
}
.impress-on-Overview {
    .scrabble__main {
        opacity: 1;
    }
    .scrabble__before, .scrabble__after {
        transition: all 5s 2s;
    }
}

#GanderFabian {
    .title__text {
        margin-left: 300px;
    }
    .content {
        margin-left: 150px;
        text-align: center;
    }
}

.impress-on-GanderFabian {
    .scrabble--GanderFabian {
        .scrabble__main {
            transition: all 2s 1s;
            transform: rotateY(150deg);
            opacity: 1;
        }
    }
}

.scrabble--Referenzen {
    transition: all 2s 0.5s;
}

#Referenzen {
    .content {
        margin-top: 300px;
        margin-left: 0;
        td {
            text-align: left;
        }
    }
}
.impress-on-Referenzen {
    .scrabble--Referenzen {
        transition: all 3s 2s;
        transform: translate3d(0px,0px,5000px);

        > span {
            opacity: 1;
        }
    }
}


#Werdegang {
    .content {
        margin: 200px 0 0 -220px;
    }
    .job {
        opacity: 0;
    }
}
.impress-on-Werdegang {
    .scrabble--Werdegang {
        transition: all 2s 1s;
        transform: rotateY(180deg);
        > span {
            opacity: 1;
        }
    }

    #Werdegang{

        &.present {
            .job--sunrise {
                transition: opacity 5s 2s;
                opacity: 1;
            }
            .job--nothing {
                transition: opacity 5s 10s;
                opacity: 1;
            }
            .job--garaio {
                transition: opacity 5s 18s;
                opacity: 1;
            }
        }
    }
}
.impress-on-Fachkenntnisse
{
    .scrabble--Arbeit {
        transition: all 2s 1s;
        > span {
            opacity: 1;
        }
    }
}

.impress-on-Implementation,
[class^="impress-supported impress-enabled impress-on-Implementation"]
{
    .scrabble--Implementation {
        transition: all 2s 1s;
        > span {
            opacity: 1;
        }
    }
}

#ImplementationJSON {
    height: 80vh;
    .content__image {
        width: auto;
        max-width: 50vw;
        max-height: 70vh;
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.8);
        border: 5px solid black;
    }
    .title__text {
        position: absolute;
        top: -40px;
        right: 0;
    }
    .image--json-text {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .image--json-result {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
}

.impress-on-Demos
{
    .scrabble--Demos {
        transition: all 2s 1s;
        > span {
            opacity: 1;
        }
    }
}